{% extends "base_project.html" %}
{% block title %} BLAST {% endblock %}

{% block content %}
    <div class="header">
        <h1>Database</h1>
    </div>

    <hr size="5" noshade color="black">

     <ul>
         <li><a href="http://127.0.0.1:5000/">
             Homepagina</a></li>
         <li><a class="active" href="http://127.0.0.1:5000/tabel">
             Tabel</a></li>
     </ul>

    <h2> 10 meest voorkomende organismen in de database</h2>

    <div class="column right">
    <table>
        <tr>
            <th>Organismen</th>
            <th>Aantal keer voorkomend</th>
        </tr>

        <tr>
            {% for data in invoer %}
                <td> {{ data[0] }}  </td><td> {{ data[1] }} </td>
        </tr>
            {% endfor %}
    </table>
    </div>


{% endblock %}
