{% extends "base_project.html" %}
{% block title %} BLAST {% endblock %}

{% block content %}
    <div class="header">
        <h1>Welkom op de website</h1>
    </div>

    <hr size="5" noshade color="black">

     <ul>
     <li><a class="active" href="http://127.0.0.1:5000/">
            Homepagina</a></li>
        <li><a href="http://127.0.0.1:5000/database">
            Database</a></li>
        <li><a href="http://127.0.0.1:5000/pie">
            Overzicht</a></li>
    </ul>
    <h2>Champignon compost</h2>
    <br>
    <p>Op deze website kun je informatie vinden over organismen in de champignon compost</p>
    <br>
    <p>Op de <b>database pagina</b> zijn alle organismen die voorkomen in de champignon compost te vinden</p>
    <p>Op de <b>overzicht pagina</b> is een taartdiagram te zien met de vijf meest voorkomende organismen in de champignon compost</p>


{% endblock %}
